USE [master]
GO
/****** Object:  Database [AnprVision]    Script Date: 16/05/2025 11:43:36 ******/
CREATE DATABASE [AnprVision]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AnprVision', FILENAME = N'C:\motoSqlServe\MSSQL16.SQLEXPRESS\MSSQL\DATA\AnprVision.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AnprVision_log', FILENAME = N'C:\motoSqlServe\MSSQL16.SQLEXPRESS\MSSQL\DATA\AnprVision_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AnprVision].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AnprVision]
GO
/****** Object:  Table [dbo].[blacklist]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blacklist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reason] [varchar](255) NOT NULL,
	[restrictiondate] [date] NOT NULL,
	[id_client] [int] NOT NULL,
	[active] [bit] NULL,
	[TRIAL239] [char](1) NULL,
 CONSTRAINT [blacklist_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[camara]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[camara](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nightvisioninfrared] [bit] NOT NULL,
	[highresolution] [bit] NOT NULL,
	[infraredlighting] [bit] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[optimizedangleofvision] [bit] NULL,
	[highshutterspeed] [bit] NULL,
	[active] [bit] NULL,
	[TRIAL242] [char](1) NULL,
 CONSTRAINT [camaras_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[client]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NULL,
	[name] [varchar](50) NOT NULL,
	[active] [bit] NULL,
	[TRIAL239] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formmodule]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formmodule](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_module] [int] NOT NULL,
	[id_forms] [int] NOT NULL,
	[active] [bit] NULL,
	[TRIAL242] [char](1) NULL,
 CONSTRAINT [formmodule_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formrolpermission]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formrolpermission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_forms] [int] NOT NULL,
	[id_rol] [int] NOT NULL,
	[id_permission] [int] NOT NULL,
	[active] [bit] NULL,
	[TRIAL245] [char](1) NULL,
 CONSTRAINT [formrolpermission_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forms]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[url] [varchar](255) NULL,
	[active] [bit] NULL,
	[TRIAL242] [char](1) NULL,
 CONSTRAINT [forms_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[totalamount] [numeric](10, 2) NOT NULL,
	[paymentstatus] [varchar](50) NOT NULL,
	[paymentdate] [datetime] NOT NULL,
	[id_vehiclehistory] [int] NOT NULL,
	[active] [bit] NULL,
	[TRIAL248] [char](1) NULL,
 CONSTRAINT [invoice_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[memberships]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[memberships](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[membershiptype] [varchar](50) NOT NULL,
	[startdate] [date] NOT NULL,
	[enddate] [date] NOT NULL,
	[active] [bit] NULL,
	[TRIAL248] [char](1) NULL,
 CONSTRAINT [memberships_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[membershipsvehicle]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[membershipsvehicle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_memberships] [int] NOT NULL,
	[id_vehicle] [int] NOT NULL,
	[active] [bit] NULL,
	[TRIAL248] [char](1) NULL,
 CONSTRAINT [membershipsvehicle_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[module]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[module](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[active] [bit] NULL,
	[TRIAL242] [char](1) NULL,
 CONSTRAINT [module_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parking]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parking](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[location] [varchar](50) NOT NULL,
	[id_camara] [int] NOT NULL,
	[hability] [text] NOT NULL,
	[active] [bit] NULL,
	[TRIAL252] [char](1) NULL,
 CONSTRAINT [parking_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permission]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[active] [bit] NULL,
	[TRIAL245] [char](1) NULL,
 CONSTRAINT [permission_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[person]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[person](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[document] [varchar](20) NOT NULL,
	[phone] [varchar](20) NULL,
	[lastname] [varchar](50) NOT NULL,
	[email] [varchar](100) NULL,
	[active] [bit] NOT NULL,
	[TRIAL232] [char](1) NULL,
 CONSTRAINT [person_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rates]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[amount] [numeric](10, 2) NOT NULL,
	[startduration] [text] NOT NULL,
	[id_typerates] [int] NOT NULL,
	[endduration] [text] NOT NULL,
	[active] [bit] NULL,
	[TRIAL252] [char](1) NULL,
 CONSTRAINT [rates_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registeredvehicle]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registeredvehicle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[entrydatetime] [time](7) NULL,
	[exitdatetime] [time](7) NULL,
	[id_vehicle] [int] NOT NULL,
	[active] [bit] NULL,
	[TRIAL248] [char](1) NULL,
 CONSTRAINT [registeredvehicle_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
	[description] [text] NULL,
	[active] [bit] NULL,
	[TRIAL242] [char](1) NULL,
 CONSTRAINT [role_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roluser]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roluser](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NOT NULL,
	[id_user] [int] NOT NULL,
	[active] [bit] NULL,
	[TRIAL252] [char](1) NULL,
 CONSTRAINT [roluser_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[typerates]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[typerates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[price] [numeric](10, 2) NOT NULL,
	[active] [bit] NULL,
	[TRIAL252] [char](1) NULL,
 CONSTRAINT [typerates_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[typevehicles]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[typevehicles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[active] [bit] NULL,
	[TRIAL245] [char](1) NULL,
 CONSTRAINT [typevehicle_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[id_person] [int] NOT NULL,
	[active] [bit] NULL,
	[TRIAL239] [char](1) NULL,
 CONSTRAINT [User_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[plate] [varchar](50) NOT NULL,
	[color] [varchar](100) NULL,
	[id_client] [int] NOT NULL,
	[active] [bit] NULL,
	[TRIAL245] [char](1) NULL,
 CONSTRAINT [vehicle_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehiclehistory]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehiclehistory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[totaltime] [time](7) NOT NULL,
	[id_typevehicle] [int] NOT NULL,
	[id_registeredvehicle] [int] NOT NULL,
	[id_invoice] [int] NULL,
	[active] [bit] NULL,
	[TRIAL248] [char](1) NULL,
 CONSTRAINT [vehiclehistory_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehiclehistoryparkingrates]    Script Date: 16/05/2025 11:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehiclehistoryparkingrates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hourused] [int] NOT NULL,
	[id_rates] [int] NOT NULL,
	[id_vehiclehistory] [int] NOT NULL,
	[id_parking] [int] NOT NULL,
	[subtotal] [numeric](10, 2) NOT NULL,
	[active] [bit] NULL,
	[TRIAL252] [char](1) NULL,
 CONSTRAINT [vehiclehistoryparkingrates_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[blacklist] ON 

INSERT [dbo].[blacklist] ([id], [reason], [restrictiondate], [id_client], [active], [TRIAL239]) VALUES (15, N'deja la moto tirada', CAST(N'2025-04-23' AS Date), 4, 1, N'T')
INSERT [dbo].[blacklist] ([id], [reason], [restrictiondate], [id_client], [active], [TRIAL239]) VALUES (16, N'dejo', CAST(N'2025-04-23' AS Date), 5, 0, N'T')
SET IDENTITY_INSERT [dbo].[blacklist] OFF
GO
SET IDENTITY_INSERT [dbo].[camara] ON 

INSERT [dbo].[camara] ([id], [nightvisioninfrared], [highresolution], [infraredlighting], [name], [optimizedangleofvision], [highshutterspeed], [active], [TRIAL242]) VALUES (8, 1, 1, 1, N'hola', 1, 1, 1, N'T')
SET IDENTITY_INSERT [dbo].[camara] OFF
GO
SET IDENTITY_INSERT [dbo].[client] ON 

INSERT [dbo].[client] ([id], [id_user], [name], [active], [TRIAL239]) VALUES (4, NULL, N'yerson', 1, N'T')
INSERT [dbo].[client] ([id], [id_user], [name], [active], [TRIAL239]) VALUES (5, NULL, N'German', 1, N'T')
SET IDENTITY_INSERT [dbo].[client] OFF
GO
SET IDENTITY_INSERT [dbo].[formmodule] ON 

INSERT [dbo].[formmodule] ([id], [id_module], [id_forms], [active], [TRIAL242]) VALUES (5, 3, 2, 1, N'T')
SET IDENTITY_INSERT [dbo].[formmodule] OFF
GO
SET IDENTITY_INSERT [dbo].[formrolpermission] ON 

INSERT [dbo].[formrolpermission] ([id], [id_forms], [id_rol], [id_permission], [active], [TRIAL245]) VALUES (15, 2, 3, 1, 0, N'T')
INSERT [dbo].[formrolpermission] ([id], [id_forms], [id_rol], [id_permission], [active], [TRIAL245]) VALUES (16, 5, 6, 3, 1, N'T')
SET IDENTITY_INSERT [dbo].[formrolpermission] OFF
GO
SET IDENTITY_INSERT [dbo].[forms] ON 

INSERT [dbo].[forms] ([id], [name], [url], [active], [TRIAL242]) VALUES (2, N'volver', N'hola', 0, N'T')
INSERT [dbo].[forms] ([id], [name], [url], [active], [TRIAL242]) VALUES (5, N'yerson', N'asfdasd', 1, N'T')
INSERT [dbo].[forms] ([id], [name], [url], [active], [TRIAL242]) VALUES (6, N'sharon ramos', N'hola', 1, N'T')
SET IDENTITY_INSERT [dbo].[forms] OFF
GO
SET IDENTITY_INSERT [dbo].[memberships] ON 

INSERT [dbo].[memberships] ([id], [membershiptype], [startdate], [enddate], [active], [TRIAL248]) VALUES (2, N'semanal', CAST(N'2025-04-10' AS Date), CAST(N'2025-04-10' AS Date), 1, N'T')
INSERT [dbo].[memberships] ([id], [membershiptype], [startdate], [enddate], [active], [TRIAL248]) VALUES (4, N'semanal', CAST(N'2025-04-23' AS Date), CAST(N'2025-04-23' AS Date), 0, N'T')
SET IDENTITY_INSERT [dbo].[memberships] OFF
GO
SET IDENTITY_INSERT [dbo].[module] ON 

INSERT [dbo].[module] ([id], [name], [active], [TRIAL242]) VALUES (3, N'uuuuuuuuuuuuuuuuuuuuuuuuuuu', 1, N'T')
INSERT [dbo].[module] ([id], [name], [active], [TRIAL242]) VALUES (5, N'hola', 1, N'T')
INSERT [dbo].[module] ([id], [name], [active], [TRIAL242]) VALUES (6, N'hola', 0, N'T')
SET IDENTITY_INSERT [dbo].[module] OFF
GO
SET IDENTITY_INSERT [dbo].[parking] ON 

INSERT [dbo].[parking] ([id], [name], [location], [id_camara], [hability], [active], [TRIAL252]) VALUES (10, N'asdasdas', N'sdfsafd', 8, N'sadfsdaf', 1, N'T')
SET IDENTITY_INSERT [dbo].[parking] OFF
GO
SET IDENTITY_INSERT [dbo].[permission] ON 

INSERT [dbo].[permission] ([id], [name], [active], [TRIAL245]) VALUES (1, N'salir', 1, N'T')
INSERT [dbo].[permission] ([id], [name], [active], [TRIAL245]) VALUES (3, N'Crear', 1, N'T')
INSERT [dbo].[permission] ([id], [name], [active], [TRIAL245]) VALUES (4, N'Leer', 0, N'T')
SET IDENTITY_INSERT [dbo].[permission] OFF
GO
SET IDENTITY_INSERT [dbo].[person] ON 

INSERT [dbo].[person] ([id], [name], [document], [phone], [lastname], [email], [active], [TRIAL232]) VALUES (23, N'lucas', N'7894561230', N'9876543214', N'ramiro', N'lucas@gmail.com', 1, N'T')
INSERT [dbo].[person] ([id], [name], [document], [phone], [lastname], [email], [active], [TRIAL232]) VALUES (24, N'rober', N'898798484', N'498497895', N'lili', N'rober@gmail.com', 1, N'T')
INSERT [dbo].[person] ([id], [name], [document], [phone], [lastname], [email], [active], [TRIAL232]) VALUES (25, N'pepe', N'789456123', N'789456123', N'ramirez', N'pepe@gmail.com', 1, N'T')
SET IDENTITY_INSERT [dbo].[person] OFF
GO
SET IDENTITY_INSERT [dbo].[rates] ON 

INSERT [dbo].[rates] ([id], [amount], [startduration], [id_typerates], [endduration], [active], [TRIAL252]) VALUES (4, CAST(500.00 AS Numeric(10, 2)), N'05:00:00', 2, N'06:00:00', 1, N'T')
SET IDENTITY_INSERT [dbo].[rates] OFF
GO
SET IDENTITY_INSERT [dbo].[rol] ON 

INSERT [dbo].[rol] ([id], [name], [description], [active], [TRIAL242]) VALUES (3, N'Operador', N'Acceso limitado a funciones operativas', 1, N'T')
INSERT [dbo].[rol] ([id], [name], [description], [active], [TRIAL242]) VALUES (4, N'sdfsafsa', N'sadfsadf', 0, N'T')
INSERT [dbo].[rol] ([id], [name], [description], [active], [TRIAL242]) VALUES (5, N'lider', N'mandon', 1, N'T')
SET IDENTITY_INSERT [dbo].[rol] OFF
GO
SET IDENTITY_INSERT [dbo].[roluser] ON 

INSERT [dbo].[roluser] ([id], [id_rol], [id_user], [active], [TRIAL252]) VALUES (5, 6, 7, 1, N'T')
INSERT [dbo].[roluser] ([id], [id_rol], [id_user], [active], [TRIAL252]) VALUES (6, 5, 9, 1, N'T')
INSERT [dbo].[roluser] ([id], [id_rol], [id_user], [active], [TRIAL252]) VALUES (7, 5, 17, 1, N'T')
SET IDENTITY_INSERT [dbo].[roluser] OFF
GO
SET IDENTITY_INSERT [dbo].[typerates] ON 

INSERT [dbo].[typerates] ([id], [name], [price], [active], [TRIAL252]) VALUES (2, N'Noche', CAST(5.00 AS Numeric(10, 2)), 1, N'T')
INSERT [dbo].[typerates] ([id], [name], [price], [active], [TRIAL252]) VALUES (3, N'Día', CAST(3.50 AS Numeric(10, 2)), 1, N'T')
INSERT [dbo].[typerates] ([id], [name], [price], [active], [TRIAL252]) VALUES (4, N'Fin de semana', CAST(6.00 AS Numeric(10, 2)), 1, N'T')
SET IDENTITY_INSERT [dbo].[typerates] OFF
GO
SET IDENTITY_INSERT [dbo].[typevehicles] ON 

INSERT [dbo].[typevehicles] ([id], [name], [active], [TRIAL245]) VALUES (2, N'me voy ', 1, N'T')
SET IDENTITY_INSERT [dbo].[typevehicles] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [username], [password], [id_person], [active], [TRIAL239]) VALUES (34, N'lucas', N'$2a$11$j2mytaRa/0gwJ4Qw2JzEu.3xqSQboDZ2cpEumY9vJMgbaG0aEiJIK', 23, 1, N'T')
INSERT [dbo].[user] ([id], [username], [password], [id_person], [active], [TRIAL239]) VALUES (35, N'rober', N'$2a$11$/auCAyhG0WeOfX7FS4zVKeeqghmtQjuPcRGgkXQrvv2xA0LMdkPwu', 24, 1, N'T')
INSERT [dbo].[user] ([id], [username], [password], [id_person], [active], [TRIAL239]) VALUES (36, N'pepe', N'$2a$11$0EloMdwvwZHsvpbVRkx69uJkvDdtCw.5Xm3dackvdvwsrGQH1XJBy', 25, 1, N'T')
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET IDENTITY_INSERT [dbo].[vehicle] ON 

INSERT [dbo].[vehicle] ([id], [plate], [color], [id_client], [active], [TRIAL245]) VALUES (6, N'sadasd', N'red', 5, 1, N'T')
SET IDENTITY_INSERT [dbo].[vehicle] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [person_document_key]    Script Date: 16/05/2025 11:43:38 ******/
CREATE UNIQUE NONCLUSTERED INDEX [person_document_key] ON [dbo].[person]
(
	[document] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [person_email_key]    Script Date: 16/05/2025 11:43:38 ******/
CREATE UNIQUE NONCLUSTERED INDEX [person_email_key] ON [dbo].[person]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [User_username_key]    Script Date: 16/05/2025 11:43:38 ******/
CREATE UNIQUE NONCLUSTERED INDEX [User_username_key] ON [dbo].[user]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [vehicle_plate_key]    Script Date: 16/05/2025 11:43:38 ******/
CREATE UNIQUE NONCLUSTERED INDEX [vehicle_plate_key] ON [dbo].[vehicle]
(
	[plate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[client]  WITH NOCHECK ADD  CONSTRAINT [fk_user] FOREIGN KEY([id_user])
REFERENCES [dbo].[user] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[client] CHECK CONSTRAINT [fk_user]
GO
ALTER TABLE [dbo].[formmodule]  WITH NOCHECK ADD  CONSTRAINT [fk_forms] FOREIGN KEY([id_forms])
REFERENCES [dbo].[forms] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[formmodule] CHECK CONSTRAINT [fk_forms]
GO
ALTER TABLE [dbo].[formmodule]  WITH NOCHECK ADD  CONSTRAINT [fk_module] FOREIGN KEY([id_module])
REFERENCES [dbo].[module] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[formmodule] CHECK CONSTRAINT [fk_module]
GO
ALTER TABLE [dbo].[formrolpermission]  WITH NOCHECK ADD  CONSTRAINT [fk_forms_1] FOREIGN KEY([id_forms])
REFERENCES [dbo].[forms] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[formrolpermission] CHECK CONSTRAINT [fk_forms_1]
GO
ALTER TABLE [dbo].[formrolpermission]  WITH NOCHECK ADD  CONSTRAINT [fk_permission] FOREIGN KEY([id_permission])
REFERENCES [dbo].[permission] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[formrolpermission] CHECK CONSTRAINT [fk_permission]
GO
ALTER TABLE [dbo].[formrolpermission]  WITH NOCHECK ADD  CONSTRAINT [fk_role] FOREIGN KEY([id_rol])
REFERENCES [dbo].[rol] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[formrolpermission] CHECK CONSTRAINT [fk_role]
GO
ALTER TABLE [dbo].[invoice]  WITH NOCHECK ADD  CONSTRAINT [fk_vehiclehistory] FOREIGN KEY([id_vehiclehistory])
REFERENCES [dbo].[vehiclehistory] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[invoice] CHECK CONSTRAINT [fk_vehiclehistory]
GO
ALTER TABLE [dbo].[membershipsvehicle]  WITH NOCHECK ADD  CONSTRAINT [fk_memberships] FOREIGN KEY([id_memberships])
REFERENCES [dbo].[memberships] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[membershipsvehicle] CHECK CONSTRAINT [fk_memberships]
GO
ALTER TABLE [dbo].[membershipsvehicle]  WITH NOCHECK ADD  CONSTRAINT [fk_vehicle_1] FOREIGN KEY([id_vehicle])
REFERENCES [dbo].[vehicle] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[membershipsvehicle] CHECK CONSTRAINT [fk_vehicle_1]
GO
ALTER TABLE [dbo].[parking]  WITH NOCHECK ADD  CONSTRAINT [fk_camaras] FOREIGN KEY([id_camara])
REFERENCES [dbo].[camara] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[parking] CHECK CONSTRAINT [fk_camaras]
GO
ALTER TABLE [dbo].[rates]  WITH NOCHECK ADD  CONSTRAINT [fk_typerates] FOREIGN KEY([id_typerates])
REFERENCES [dbo].[typerates] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rates] CHECK CONSTRAINT [fk_typerates]
GO
ALTER TABLE [dbo].[registeredvehicle]  WITH NOCHECK ADD  CONSTRAINT [fk_vehicle] FOREIGN KEY([id_vehicle])
REFERENCES [dbo].[vehicle] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[registeredvehicle] CHECK CONSTRAINT [fk_vehicle]
GO
ALTER TABLE [dbo].[roluser]  WITH NOCHECK ADD  CONSTRAINT [fk_role_1] FOREIGN KEY([id_rol])
REFERENCES [dbo].[rol] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[roluser] CHECK CONSTRAINT [fk_role_1]
GO
ALTER TABLE [dbo].[user]  WITH NOCHECK ADD  CONSTRAINT [fk_person] FOREIGN KEY([id_person])
REFERENCES [dbo].[person] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [fk_person]
GO
ALTER TABLE [dbo].[vehiclehistory]  WITH NOCHECK ADD  CONSTRAINT [fk_registeredvehicle] FOREIGN KEY([id_registeredvehicle])
REFERENCES [dbo].[registeredvehicle] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vehiclehistory] CHECK CONSTRAINT [fk_registeredvehicle]
GO
ALTER TABLE [dbo].[vehiclehistory]  WITH NOCHECK ADD  CONSTRAINT [fk_typevehicle] FOREIGN KEY([id_typevehicle])
REFERENCES [dbo].[typevehicles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vehiclehistory] CHECK CONSTRAINT [fk_typevehicle]
GO
ALTER TABLE [dbo].[vehiclehistoryparkingrates]  WITH NOCHECK ADD  CONSTRAINT [fk_parking] FOREIGN KEY([id_parking])
REFERENCES [dbo].[parking] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vehiclehistoryparkingrates] CHECK CONSTRAINT [fk_parking]
GO
ALTER TABLE [dbo].[vehiclehistoryparkingrates]  WITH NOCHECK ADD  CONSTRAINT [fk_rates] FOREIGN KEY([id_rates])
REFERENCES [dbo].[rates] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vehiclehistoryparkingrates] CHECK CONSTRAINT [fk_rates]
GO
ALTER TABLE [dbo].[vehiclehistoryparkingrates]  WITH NOCHECK ADD  CONSTRAINT [fk_vehiclehistory_1] FOREIGN KEY([id_vehiclehistory])
REFERENCES [dbo].[vehiclehistory] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vehiclehistoryparkingrates] CHECK CONSTRAINT [fk_vehiclehistory_1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'blacklist', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'blacklist', @level2type=N'COLUMN',@level2name=N'reason'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'blacklist', @level2type=N'COLUMN',@level2name=N'restrictiondate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'blacklist', @level2type=N'COLUMN',@level2name=N'id_client'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'blacklist', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'blacklist', @level2type=N'COLUMN',@level2name=N'TRIAL239'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'blacklist'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'camara', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'camara', @level2type=N'COLUMN',@level2name=N'nightvisioninfrared'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'camara', @level2type=N'COLUMN',@level2name=N'highresolution'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'camara', @level2type=N'COLUMN',@level2name=N'infraredlighting'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'camara', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'camara', @level2type=N'COLUMN',@level2name=N'optimizedangleofvision'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'camara', @level2type=N'COLUMN',@level2name=N'highshutterspeed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'camara', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'camara', @level2type=N'COLUMN',@level2name=N'TRIAL242'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'camara'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'client', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'client', @level2type=N'COLUMN',@level2name=N'id_user'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'client', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'client', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'client', @level2type=N'COLUMN',@level2name=N'TRIAL239'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'client'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'formmodule', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'formmodule', @level2type=N'COLUMN',@level2name=N'id_module'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'formmodule', @level2type=N'COLUMN',@level2name=N'id_forms'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'formmodule', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'formmodule', @level2type=N'COLUMN',@level2name=N'TRIAL242'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'formmodule'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'formrolpermission', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'formrolpermission', @level2type=N'COLUMN',@level2name=N'id_forms'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'formrolpermission', @level2type=N'COLUMN',@level2name=N'id_rol'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'formrolpermission', @level2type=N'COLUMN',@level2name=N'id_permission'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'formrolpermission', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'formrolpermission', @level2type=N'COLUMN',@level2name=N'TRIAL245'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'formrolpermission'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'forms', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'forms', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'forms', @level2type=N'COLUMN',@level2name=N'url'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'forms', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'forms', @level2type=N'COLUMN',@level2name=N'TRIAL242'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'forms'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'invoice', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'invoice', @level2type=N'COLUMN',@level2name=N'totalamount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'invoice', @level2type=N'COLUMN',@level2name=N'paymentstatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'invoice', @level2type=N'COLUMN',@level2name=N'paymentdate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'invoice', @level2type=N'COLUMN',@level2name=N'id_vehiclehistory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'invoice', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'invoice', @level2type=N'COLUMN',@level2name=N'TRIAL248'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'invoice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'memberships', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'memberships', @level2type=N'COLUMN',@level2name=N'membershiptype'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'memberships', @level2type=N'COLUMN',@level2name=N'startdate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'memberships', @level2type=N'COLUMN',@level2name=N'enddate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'memberships', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'memberships', @level2type=N'COLUMN',@level2name=N'TRIAL248'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'memberships'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'membershipsvehicle', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'membershipsvehicle', @level2type=N'COLUMN',@level2name=N'id_memberships'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'membershipsvehicle', @level2type=N'COLUMN',@level2name=N'id_vehicle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'membershipsvehicle', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'membershipsvehicle', @level2type=N'COLUMN',@level2name=N'TRIAL248'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'membershipsvehicle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'module', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'module', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'module', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'module', @level2type=N'COLUMN',@level2name=N'TRIAL242'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'module'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'parking', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'parking', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'parking', @level2type=N'COLUMN',@level2name=N'location'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'parking', @level2type=N'COLUMN',@level2name=N'id_camara'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'parking', @level2type=N'COLUMN',@level2name=N'hability'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'parking', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'parking', @level2type=N'COLUMN',@level2name=N'TRIAL252'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'parking'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'permission', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'permission', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'permission', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'permission', @level2type=N'COLUMN',@level2name=N'TRIAL245'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'permission'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'person', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'person', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'person', @level2type=N'COLUMN',@level2name=N'document'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'person', @level2type=N'COLUMN',@level2name=N'phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'person', @level2type=N'COLUMN',@level2name=N'lastname'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'person', @level2type=N'COLUMN',@level2name=N'email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'person', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'person', @level2type=N'COLUMN',@level2name=N'TRIAL232'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'person'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'rates', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'rates', @level2type=N'COLUMN',@level2name=N'amount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'rates', @level2type=N'COLUMN',@level2name=N'startduration'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'rates', @level2type=N'COLUMN',@level2name=N'id_typerates'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'rates', @level2type=N'COLUMN',@level2name=N'endduration'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'rates', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'rates', @level2type=N'COLUMN',@level2name=N'TRIAL252'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'rates'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'registeredvehicle', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'registeredvehicle', @level2type=N'COLUMN',@level2name=N'entrydatetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'registeredvehicle', @level2type=N'COLUMN',@level2name=N'exitdatetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'registeredvehicle', @level2type=N'COLUMN',@level2name=N'id_vehicle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'registeredvehicle', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'registeredvehicle', @level2type=N'COLUMN',@level2name=N'TRIAL248'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'registeredvehicle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'rol', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'rol', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'rol', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'rol', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'rol', @level2type=N'COLUMN',@level2name=N'TRIAL242'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'rol'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'roluser', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'roluser', @level2type=N'COLUMN',@level2name=N'id_rol'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'roluser', @level2type=N'COLUMN',@level2name=N'id_user'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'roluser', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'roluser', @level2type=N'COLUMN',@level2name=N'TRIAL252'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'roluser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'typerates', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'typerates', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'typerates', @level2type=N'COLUMN',@level2name=N'price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'typerates', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'typerates', @level2type=N'COLUMN',@level2name=N'TRIAL252'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'typerates'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'typevehicles', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'typevehicles', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'typevehicles', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'typevehicles', @level2type=N'COLUMN',@level2name=N'TRIAL245'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'typevehicles'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user', @level2type=N'COLUMN',@level2name=N'username'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user', @level2type=N'COLUMN',@level2name=N'password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user', @level2type=N'COLUMN',@level2name=N'id_person'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user', @level2type=N'COLUMN',@level2name=N'TRIAL239'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehicle', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehicle', @level2type=N'COLUMN',@level2name=N'plate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehicle', @level2type=N'COLUMN',@level2name=N'color'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehicle', @level2type=N'COLUMN',@level2name=N'id_client'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehicle', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehicle', @level2type=N'COLUMN',@level2name=N'TRIAL245'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehicle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehiclehistory', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehiclehistory', @level2type=N'COLUMN',@level2name=N'totaltime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehiclehistory', @level2type=N'COLUMN',@level2name=N'id_typevehicle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehiclehistory', @level2type=N'COLUMN',@level2name=N'id_registeredvehicle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehiclehistory', @level2type=N'COLUMN',@level2name=N'id_invoice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehiclehistory', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehiclehistory', @level2type=N'COLUMN',@level2name=N'TRIAL248'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehiclehistory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehiclehistoryparkingrates', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehiclehistoryparkingrates', @level2type=N'COLUMN',@level2name=N'hourused'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehiclehistoryparkingrates', @level2type=N'COLUMN',@level2name=N'id_rates'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehiclehistoryparkingrates', @level2type=N'COLUMN',@level2name=N'id_vehiclehistory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehiclehistoryparkingrates', @level2type=N'COLUMN',@level2name=N'id_parking'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehiclehistoryparkingrates', @level2type=N'COLUMN',@level2name=N'subtotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehiclehistoryparkingrates', @level2type=N'COLUMN',@level2name=N'active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehiclehistoryparkingrates', @level2type=N'COLUMN',@level2name=N'TRIAL252'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'vehiclehistoryparkingrates'
GO
USE [master]
GO
