<div class="menu-lateral">
  <ul>
    <li *ngFor="let item of menuItems" class="menu-item">
      <div class="menu-item-header" (click)="toggleMenu(item)">
        <span *ngIf="item.subItems && item.subItems.length > 0">
          <span *ngIf="!item.expanded">&gt;</span>
          <span *ngIf="item.expanded">v</span>
        </span>
        {{ item.label }}
      </div>
      <ul *ngIf="item.expanded && item.subItems" class="submenu">
        <li *ngFor="let subItem of item.subItems">
          <a [routerLink]="['./', subItem.label.toLowerCase().replace('component', '')]" routerLinkActive="active">
            {{ subItem.label }}
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item logout">
      <div class="menu-item-header" (click)="logout()">
        Cerrar Sesión
      </div>
    </li>
  </ul>
</div>

<div class="component-container">
  <router-outlet></router-outlet>
</div>