<div class="menu-lateral">
  <ul>
    <li *ngFor="let item of menuItems" class="menu-item">
      <div class="menu-item-header" (click)="toggleMenu(item)">
        <span *ngIf="item.subItems && item.subItems.length > 0">
          <span *ngIf="!item.expanded">&gt;</span>
          <span *ngIf="item.expanded">v</span>
        </span>
        {{ item.label }}
      </div>
      <ul *ngIf="item.expanded && item.subItems" class="submenu">
        <li *ngFor="let subItem of item.subItems" (click)="showComponent(subItem.componentName)">
          {{ subItem.label }}
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="component-container">
  <ng-container *ngIf="activeComponent === 'FormComponent'">
    <app-form></app-form>
  </ng-container>
  <ng-container *ngIf="activeComponent === 'FormModuleComponent'">
    <app-form-module></app-form-module>
  </ng-container>
  <ng-container *ngIf="activeComponent === 'FormRolPermissionComponent'">
    <app-form-rol-permission></app-form-rol-permission>
  </ng-container>
  <ng-container *ngIf="activeComponent === 'ModuleComponent'">
    <app-module></app-module>
  </ng-container>
  <ng-container *ngIf="activeComponent === 'PermissionComponent'">
    <app-permission></app-permission>
  </ng-container>
  <ng-container *ngIf="activeComponent === 'PersonComponent'">
    <app-person></app-person>
  </ng-container>
  <ng-container *ngIf="activeComponent === 'RolComponent'">
    <app-rol></app-rol>
  </ng-container>
  <ng-container *ngIf="activeComponent === 'RolUserComponent'">
    <app-rol-user></app-rol-user>
  </ng-container>
  <ng-container *ngIf="activeComponent === 'UserComponent'">
    <app-user></app-user>
  </ng-container>
</div>